.intro {
    background: rgb(209, 209, 209);
    display: flex;
}

.img_parrafo {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 50px;
}

.photo {
    height: 400px;
    width: 400px;
    border-radius: 50% 50%;
    margin: auto;
}

.text {
    margin: 25px 25px;
    flex-grow: 1;
    flex-basis: 500px;
}

.text .sub_title h2 {
    margin: 25px 25px;
}

.text .parrafo p {
    margin: 25px 25px;
}