.Portada {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('/img/portada.jpg') center/cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Portada p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    padding: 2rem;
    line-height: 1.5;
    margin: 0;
}

.Portada nav {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction:row;
    list-style-type: none;
    font-size: 1.2rem;
    padding: 2rem;
    line-height: 1.5;
    margin: 0;
}

.Portada li {
    color: white;
    margin: 0px 50px;
    cursor: pointer;
}